circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
  padding-left: 100px;
  padding-top: 100px;

}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

title{
	font-weight: bold;
	stroke: #999;
  	stroke-opacity: .6;
}
